$neutral:#B7B8B6;
$blue-sky:#4CB5F5;
$pine:#34675C;
$fields:#b3c100;
h1{
    text-align: center;
    margin:0px;
}
h3{
    margin:0px;
    text-align: center;
}

p{
    margin:0px;
    text-align: center;
}
mat-card{
    background-color: $pine;
    color: white;
}
