$neutral:#B7B8B6;
$blue-sky:#4CB5F5;
$pine:#34675C;
$fields:#b3c100;

.full-width{
    width: 95%;
}
.half-width{
    width: 45%;

}
.form-size{
    width: 75%;
}

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    margin-top:20px; 
    margin-bottom: 20px;
   td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    td:nth-child(even){background-color: $neutral}
    tr:hover {background-color: #ddd;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
        }
}
    .title1{
        float: left;
    }
    .title2{
        float: right;
    }
mat-divider{
    margin-bottom:10px; 
}