<div fxLayout="column" class="container">
  <div fxFlex></div>
  <div fxFlex fxFlexAlign="center">
    <mat-card class="form-size">
      
        <mat-card-title>
         <h2> Services Order</h2>
        </mat-card-title>
        <mat-card-content>
          <form action="">
            <h3>Pacient</h3>
            <mat-divider></mat-divider>
            <p>
              <mat-form-field class="half-width">
                  <input matInput placeholder="Pacient">
              </mat-form-field>    
              <mat-form-field class="half-width">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="half-width">
                <mat-select placeholder="Gender">
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="half-width">
                <!-- This will fill with a service -->
                <mat-select placeholder="City">
                  <mat-option value="cityA">A City</mat-option>
                  <mat-option value="cityB">B City</mat-option>
                  <mat-option value="cityC">C City</mat-option>
                  <mat-option value="cityD">D City</mat-option>
                </mat-select>
                <!--  -->
              </mat-form-field>
              <mat-form-field class="full-width">
                <textarea  matInput placeholder="Address" cols="5" rows="5"></textarea>
              </mat-form-field>
              </p>
              <h3>Services require</h3>
              <mat-divider></mat-divider>
              <p>
              <!-- This will fill with a service -->
              <mat-form-field class="half-width">
                <mat-select placeholder="Exam">
                  <mat-option value="ExamA">Exam A</mat-option>
                  <mat-option value="ExamB">Exam B</mat-option>
                  <mat-option value="ExamC">Exam C</mat-option>
                  <mat-option value="ExamD">Exam D</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="half-width">
                <mat-select placeholder="Insurance Company">
                  <mat-option value="companyA">Company A</mat-option>
                  <mat-option value="companyB">Company B</mat-option>
                  <mat-option value="companyC">Company C</mat-option>
                  <mat-option value="companyD">Company D</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="half-width">
                <mat-select placeholder="Applying lab">
                  <mat-option value="labA">A lab</mat-option>
                  <mat-option value="labB">B lab</mat-option>
                  <mat-option value="labC">C lab</mat-option>
                  <mat-option value="labD">D lab</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="half-width">
                <mat-select placeholder="City">
                  <mat-option value="cityA">A City</mat-option>
                  <mat-option value="cityB">B City</mat-option>
                  <mat-option value="cityC">C City</mat-option>
                  <mat-option value="cityD">D City</mat-option>
                </mat-select>
              </mat-form-field>   
            </p>
          </form>
          <p>
              <span class="half-width">exam price</span>
              <span class="half-width">Biogic Material need it}} </span>
              <span class="half-width">exam sector</span>
              <span class="half-width">Estimated Time</span>
          </p>
        </mat-card-content>
        <mat-card-actions >
            <a mat-raised-button routerLink="/end" >Register Client</a>
        </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>