.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    margin-top:20px; 
    margin-bottom: 20px;
   td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    td:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
        }
}
    .title1{
        float: left;
    }
    .title2{
        float: right;
    }
    body{
        padding:10px;
    }