//css for the view

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Colors used in the view 
$neutral:#B7B8B6;
$pine:#34675C;
.container{
  display:flex;
  height: 100vh;
  padding: 10px;
  background-color: $neutral;
  overflow: scroll;
}
body { 
  padding: 0; 
  margin: 0; 
  min-height: 100vh;
  height: auto;
  font-family: Roboto, sans-serif; 
}
.flex-spacer {
  flex: 1 1 auto;
}
