/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// some basic resets 
$neutral:#B7B8B6;
$blue-sky:#4CB5F5;
$pine:#34675C;
$fields:#b3c100;
.container{
  display:flex;
  height: 100vh;
  padding: 10px;
  background-color: $neutral;
  overflow: scroll;
}
body { 
  padding: 0; 
  margin: 0; 
  min-height: 100vh;
  height: auto;
  font-family: Roboto, sans-serif; 
}
.flex-spacer {
  flex: 1 1 auto;
}
